language: java
branches:
  only:
  - master
  - develop
install: true
jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.m2
script:
- git clone -b master https://github.com/nablarch/nablarch-ci-script.git $HOME/build-script/
  && chmod +x $HOME/build-script/travis-ci/*.sh
- $HOME/build-script/travis-ci/prepare_travis_settings.sh
- $HOME/build-script/travis-ci/gsp-gen.sh -p gsp
- $HOME/build-script/travis-ci/build-nablarch.sh -m nodeploy -p development
- $HOME/build-script/travis-ci/upload-test-report.sh -p dev-deploy
notifications:
  slack:
    secure: JNm09qjnn6nZaABMq2YtMocArz/R0c5k5de8E8Vfjfn1gADftI2zqC4zHP2Htdo0AaYc3P+Eqen4V6a4eMw7f2PkzMiw7p9s/8fz5QYs3528Kuq1/kUqnZXIH788CtG1xVvQtK9quAx93s5QHJs5/hpg0s83u9g8jkhJVWSj5BidpPwBsb7AptFaz9+1tET8OIR0y0iTd8t4HVsl8NvX2FKAPc3VOe30yvNh3ytChcFzP2wB66+nTxM2XuFuvmqJRo0Aezj3RgQOJwTo8MbSq/EAQfjaBbHuIm9a0W1ebaNRLq6YmWKVEBVggFdksbefOYO+xVHrPdvi4kw8MVdMP2u1549CbQl2NwpENXCppPdoSWlJTDY9XtpbTtp0DSMojupA85PL7D2d8cmJYmcHH4p81fgoBF9ZIuDF7CpcV50gg9cxid/r6cvqi31IpQtZgaH7p54usSXGMpdlwTlT0UG2/Kb5L6ebte/UkN/MXMTmARPDj+UtIypNp/QxkCK/CZs6gjL2UGFI+tYPNKZmVbkfDOMmO0ybyV0TVfh0Z5CnbemaXI+2fFj59S6+cqqGLgZzAqazt6uXVysydXYZLbt9v00qG0//aq45lHBxbcTBKWeb7DtSbMN47/yZxioCxzYLjBsiww8zylg8YLVT4M5tArKej5z8DFQjaT6uycU=
